* {
    font-family: "Bree Serif";
}

body {
    background-color: #1e1e2e;
    color: #f8f8f2;
}



h1 {
    color: #89b4fa;
}

i {
    font-size: 80px;
    color: #89b4fa;
}

#inner {
    color: black;
    font-size: 18px;
}

#btn-generator {
    background-color: #a6e3a1;
    color: #1e1e2e;
    border: none;
}

#refresh {
    background-color: #fab387;
    color: #1e1e2e;
    border: none;
}

/* aggiungere hover e qualcos altro */

#btn-generator:hover {
    background-color: #41e52b;

}

#refresh:hover {
    background-color: #d37a42;
}
